{%- assign bg_image = page.background.image | default: site.background.image %}
{%- assign dark_overlay = page.background.dark.overlay | default: page.background.overlay | default: site.background.dark.overlay | default: site.background.overlay %}
{%- assign light_overlay = page.background.light.overlay | default: page.background.overlay | default: site.background.light.overlay | default: site.background.overlay %}
{%- assign header_color = page.header.color | default: site.header.color %}
{%- assign header_text = page.header.text | default: site.header.text %}
{%- assign header_accent = page.header.accent | default: site.header.accent %}
{%- assign header_image = page.header.image | default: site.header.image %}
{%- assign header_overlay = page.header.overlay | default: site.header.overlay %}
<style>
{%- if bg_image %}
body {
    position: relative;
    background-image: url('{{ bg_image | relative_url }}');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -10;
}
{%- endif %}
{%- if dark_overlay %}
/* Dark mode styles */
[data-color-mode='dark'] {
    --overlay-color: {{ dark_overlay }};
}
@media(prefers-color-scheme: dark) {
[data-color-mode='auto'][data-dark-theme='dark_dimmed'] {
    --overlay-color: {{ dark_overlay }};
}
}
{%- endif %}
{%- if light_overlay %}
/* Light mode styles */
[data-color-mode='light'] {
    --overlay-color: {{ light_overlay }};
}

@media(prefers-color-scheme: light) {
[data-color-mode='auto'][data-light-theme='light'] {
    --overlay-color: {{ light_overlay }};
}
}
{%- endif %}
{%- if header_color %}
.Header {
    --color-header-bg: {{ header_color }};
}
/* Light mode styles */
[data-color-mode='light'] {
    --color-header-bg: {{ header_color }};
}

@media(prefers-color-scheme: light) {
[data-color-mode='auto'][data-light-theme='light'] {
    --color-header-bg: {{ header_color }};
}
}
/* Dark mode styles */
[data-color-mode='dark'] {
    --color-header-bg: {{ header_color }};
}
@media(prefers-color-scheme: dark) {
[data-color-mode='auto'][data-dark-theme='dark_dimmed'] {
    --color-header-bg: {{ header_color }};
}
}
{%- endif %}
{%- if header_text %}
.Header {
    --color-header-logo: {{ header_text }};
    --color-fg-muted: {{ header_text }};
}
{%- endif %}
{%- if header_accent %}
.Header {
    --color-header-text: {{ header_accent }};
    --color-accent-fg: {{ header_accent }};
}
{%- endif %}
{%- if header_image %}
.Header {
    position: relative;
    background-image: url('{{ header_image | relative_url }}');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
{%- endif %}
{%- if header_overlay %}
.Header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: {{ header_overlay }}; 
}
{%- endif %}
</style>
