{%- assign user = site.github.owner %}

{% capture last_char %}{{ page.url | slice: -1 }}{% endcapture %}
{%- if last_char == '/' %}
  {%- capture page_url %}{{ page.url | append: "index.html" }}{% endcapture %}
{%- else %}
  {%- assign page_url = page.url %}
{%- endif %}

{%- assign page_title = page.title | default: site.title | default: user.name | default: user.login %}
{%- if page.path contains '_posts' %}
  {%- assign post_description = page.content | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{%- endif %}
{%- assign user_bio = user.bio | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{%- assign meta_description = page.description | default: post_description | default: site_description | default: user_bio %}
{%- assign social_image = page.social_image | default: page.image | default: site.social_image | default: user.avatar_url %}
{%- assign bg_image = page.background_image | default: site.background.image | default: null %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- HTML Meta Tags -->
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ meta_description }}">

  <!-- Opengraph Meta Tags -->
  <meta property="og:url" content="{{ page_url | absolute_url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:description" content="{{ meta_description }}">
  <meta property="og:image" content="{{ social_image | absolute_url }}">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain"
    content="{{ site.url | replace: 'http://', '' | replace: 'https://', '' | replace: 'www.', '' }}">
  <meta property="twitter:url" content="{{ page_url | absolute_url }}">
  <meta name="twitter:title" content="{{ page_title }}">
  <meta name="twitter:description" content="{{ meta_description }}">
  <meta name="twitter:image" content="{{ social_image | absolute_url }}">
  {%- if site.social_media.twitter %}
  <meta name="twitter:site" content="@{{ site.social_media.twitter }}">
  {%- endif %}

  <link href="{{ '/assets/css/theme.css' | relative_url }}" rel="stylesheet" type="text/css">
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/x-icon" href="{{ '/assets/img/favicon.ico' | relative_url}}">
  <link rel="canonical" href="{{ page.url | absolute_url }}">


  {%- if site.analytics.provider == 'google' %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.property }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ site.analytics.property }}');
  </script>
  {%- endif %}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ '/assets/js/theme-toggle.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/anchor-links.js' | relative_url }}"></script>

  {%- if bg_image %}
  <style>
    body {
      position: relative;
      background-image: url('{{ bg_image | relative_url }}');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      z-index: -10;
    }
  </style>
  {%- endif %}
  {%- if page.css_style %}
  <style>
    {{ page.css_style }}
  </style>
  {%- endif %}
</head>
