{%- assign user = site.github.owner %}
{%- assign name = site.title | default: user.name | default: user.login %}
{%- assign user_img = site.user_image | default: user.avatar_url | default: "/assets/img/user-image.jpg" %}

<header class="AppHeader position-sticky top-0 z-2 border-bottom topbar">
    <div class="AppHeader-item d-flex flex-justify-between p-2 flex-items-center">
        {%- if site.nav %}
        <div class="d-flex d-sm-none">
            {% include nav-overlay.html %}
        </div>
        {%- endif %}
        <div tabindex="-1" class="d-flex flex-1 ml-3" id="github-logo">
            <a href="{{ site.baseurl }}/" class="AppHeader-link d-flex flex-items-center no-underline mr-3">
                {% octicon mark-github height:32 %}
                <span class="h4 text-semibold mx-3">{{ name }}</span>
            </a>
        </div>
        <div class="AppHeader-item d-flex flex-items-center">
            {% include toggle.html %}
            {%- if site.repo_info %}
            <div class="AppHeader-item hide-sm">
                {% include mini-repo-info-card.html class="AppHeader-link no-underline" %}
            </div>
            {% endif %}
            {%- if site.profile_link %}
            <div class="AppHeader-item mr-0">
                <a href="https://github.com/{{ user.login }}" class="AppHeader-link d-flex flex-items-center">
                    <img class="avatar img-cover circle" height="32" width="32" alt="{{ name }}"
                src="{{ user_img | relative_url }}">
                </a>
            </div>
            {%- endif %}
        </div>
    </div>
    {%- if site.nav %}
    <div class="d-flex flex-items-center mt-2">
        <div class="AppHeader-item width-full hide-sm">
            {%- include navbar-underline.html %}
        </div>
    </div>
    {%- endif %}
</header>
