{%- assign user = site.github.owner %}
{%- if page.title %}
  {%- assign page_title = page.title %}
{%- elsif site.title %}
  {%- assign page_title = site.title %}
{%- else %}
  {%- assign page_title = user.name %}
{%- endif %}

{%- if page.description %}
  {%- assign meta_description = page.description %}
{%- elsif page.path contains '_posts' %}
  {%- assign meta_description = page.content | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{%- elsif site.description %}
  {%- assign meta_description = site.description %}
{%- else %}
  {%- assign meta_description = user.bio | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{%- endif %}

{%- if page.image %}
  {%- assign page_image = page.image %}
{%- elsif site.image %}
  {%- assign page_image = site.image %}
{%- else %}
  {% assign page_image = user.avatar_url %}
{%- endif %}

<head>
  <meta charset="utf-8">
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ meta_description }}" />
  <meta property="og:title" content="{{ page_title }}" />
  <meta property="og:image" content="{{ page_image | absolute_url }}" />
  <meta property="og:description" content="{{ meta_description }}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:type" content="profile" />
  <meta name="twitter:title" content="{{ page_title }}">
  <meta name="twitter:image" content="{{ page_image | absolute_url }}">
  <meta name="twitter:description" content="{{ meta_description }}">
  <meta name="twitter:card" content="summary_large_image">
  {% if site.social_media.twitter %}<meta name="twitter:site" content="@{{ site.social_media.twitter }}">{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/x-icon" href="{{ '/assets/img/favicon.ico' | relative_url}}">
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">


  {%- if site.analytics.provider == 'google' %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.property }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ site.analytics.property }}');
  </script>
  {%- endif %}

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var themeToggle = document.getElementById('theme-toggle');
      var themeIcon = document.getElementById('theme-icon');
      var htmlElement = document.getElementsByTagName('html')[0];

      function getCurrentMode() {
        return htmlElement.getAttribute('data-color-mode');
      }

      function getModeFromCookie() {
        var cookieValue = getCookie('colorMode');
        if (cookieValue !== null && (cookieValue === 'auto' || cookieValue === 'dark' || cookieValue === 'light')) {
          return cookieValue;
        } else {
          // Default to 'auto' mode if the cookie is not set or has an invalid value
          return 'auto';
        }
      }

      function setCookie(name, value, days) {
        var expires = "";
        if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
          expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
      }

      function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) === ' ') c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
      }

      function getNextMode() {
        var currentMode = getCurrentMode();
        var nextMode;
        if (currentMode === 'auto') {
          nextMode = 'dark';
        } else if (currentMode === 'dark') {
          nextMode = 'light'
        } else {
          nextMode = 'auto'
        }
        return nextMode;
      }

      function updateTheme(nextMode) {
        htmlElement.setAttribute('data-color-mode', nextMode);
        updateThemeIcon(nextMode);
        setCookie('colorMode', nextMode, 365); // Save the preference for 365 days
      }

      function updateThemeIcon(nextMode) {
        if (nextMode === 'dark') {
          nextIcon = 'moon';
        } else if (nextMode === 'light') {
          nextIcon = 'sun'
        } else {
          nextIcon = 'zap';
        }
        // Set the span to the themeIcon class
        themeIcon.classList = "octicon octicon-" + nextIcon + "-24";
      }

      themeToggle.addEventListener('click', function () {
        updateTheme(getNextMode());
        // updateThemeIcon(getNextMode());
      });

      // Initialize the theme icon based on the initial state
      // updateThemeIcon(getModeFromCookie());
      updateTheme(getModeFromCookie());
    });
  </script>

</head>
