{%- assign user = site.github.owner %}

{% capture last_char %}{{ page.url | slice: -1 }}{% endcapture %}
{%- if last_char == '/' %}
  {%- capture page_url %}{{ page.url | append: "index.html" }}{% endcapture %}
{%- else %}
  {%- assign page_url = page.url %}
{%- endif %}

{%- if page.title %}
  {%- assign page_title = page.title %}
{%- elsif site.title %}
  {%- assign page_title = site.title %}
{%- else %}
  {%- assign page_title = user.name %}
{%- endif %}

{%- if page.description %}
  {%- assign meta_description = page.description %}
{%- elsif page.path contains '_posts' %}
  {%- assign meta_description = page.content | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{%- elsif site.description %}
  {%- assign meta_description = site.description %}
{%- else %}
  {%- assign meta_description = user.bio | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{%- endif %}

{%- if page.social_image %}
  {%- assign social_image = page.social_image %}
{%- elsif site.social_image %}
  {%- assign social_image = site.social_image %}
{%- else %}
  {% assign social_image = user.avatar_url %}
{%- endif %}

{%- if page.background_image %}
  {%- assign bg_image = page.background_image %}
{%- elsif site.background.image %}
  {%- assign bg_image = site.background.image %}
{%- endif %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- HTML Meta Tags -->
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ meta_description }}">

  <!-- Opengraph Meta Tags -->
  <meta property="og:url" content="{{ page_url | absolute_url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page_title | absolute_url }}">
  <meta property="og:description" content="{{ meta_description }}">
  <meta property="og:image" content="{{ social_image | absolute_url }}">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain"
    content="{{ site.url | replace: 'http://', '' | replace: 'https://', '' | replace: 'www.', '' }}">
  <meta property="twitter:url" content="{{ page_url | absolute_url }}">
  <meta name="twitter:title" content="{{ page_title }}">
  <meta name="twitter:description" content="{{ meta_description }}">
  <meta name="twitter:image" content="{{ social_image | absolute_url }}">
  {%- if site.social_media.twitter %}
  <meta name="twitter:site" content="@{{ site.social_media.twitter }}">
  {%- endif %}

  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/x-icon" href="{{ '/assets/img/favicon.ico' | relative_url}}">
  <link rel="canonical" href="{{ page.url | absoulte_url }}">


  {%- if site.analytics.provider == 'google' %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.property }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ site.analytics.property }}');
  </script>
  {%- endif %}

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var themeToggle = document.getElementById('theme-toggle');
      var themeIcon = document.getElementById('theme-icon');
      var htmlElement = document.getElementsByTagName('html')[0];

      function getCurrentMode() {
        return htmlElement.getAttribute('data-color-mode');
      }

      function getModeFromCookie() {
        var cookieValue = getCookie('colorMode');
        if (cookieValue !== null && (cookieValue === 'auto' || cookieValue === 'dark' || cookieValue === 'light')) {
          return cookieValue;
        } else {
          // Default to 'auto' mode if the cookie is not set or has an invalid value
          return 'auto';
        }
      }

      function setCookie(name, value, days) {
        var expires = "";
        if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
          expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
      }

      function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) === ' ') c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
      }

      function getNextMode() {
        var currentMode = getCurrentMode();
        var nextMode;
        if (currentMode === 'auto') {
          nextMode = 'dark';
        } else if (currentMode === 'dark') {
          nextMode = 'light'
        } else {
          nextMode = 'auto'
        }
        return nextMode;
      }

      function updateTheme(nextMode) {
        htmlElement.setAttribute('data-color-mode', nextMode);
        updateThemeIcon(nextMode);
        setCookie('colorMode', nextMode, 365); // Save the preference for 365 days
      }

      function updateThemeIcon(nextMode) {
        if (nextMode === 'dark') {
          nextIcon = 'moon';
        } else if (nextMode === 'light') {
          nextIcon = 'sun'
        } else {
          nextIcon = 'zap';
        }
        // Set the span to the themeIcon class
        themeIcon.classList = "octicon octicon-" + nextIcon + "-24";
      }

      themeToggle.addEventListener('click', function () {
        updateTheme(getNextMode());
        // updateThemeIcon(getNextMode());
      });

      // Initialize the theme icon based on the initial state
      // updateThemeIcon(getModeFromCookie());
      updateTheme(getModeFromCookie());
    });
  </script>

{%- if bg_image %}
{%- if site.background.dark.overlay %}
  {%- assign dark_overlay = site.background.dark.overlay %}
{%- else %}
  {%- assign dark_overlay = 'rgba(34, 39, 46, 0.5)' %}
{%- endif %}
{%- if site.background.light.overlay %}
  {%- assign light_overlay = site.background.light.overlay %}
{%- else %}
  {%- assign light_overlay = 'rgba(255, 255, 255, 0.5)' %}
{%- endif %}
<style>
  body {
      position: relative;
      background-image: url('{{ bg_image | relative_url }}');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      z-index: -10;
  }
  /* Dark mode styles */
  [data-color-mode='dark'] {
      --overlay-color: {{ dark_overlay }};
  }
  @media(prefers-color-scheme: dark) {
    [data-color-mode='auto'][data-dark-theme='dark_dimmed'] {
      --overlay-color: {{ dark_overlay }};
    }
  }

  /* Light mode styles */
  [data-color-mode='light'] {
      --overlay-color: {{ light_overlay }};
  }

  @media(prefers-color-scheme: light) {
    [data-color-mode='auto'][data-light-theme='light'] {
      --overlay-color: {{ light_overlay }};
    }
  }
</style>
{%- endif %}
</head>
