{%- comment %}
This builds a link card

## Inputs

- link
    - name
    - url (optional)
    - thumbnail (optional)
    - octicon (optional) The name of the octicon icon to use for image

{%- endcomment %}

{%- assign link = include.link %}

{%- if link.url %}
<a href="{{ link.url | relative_url }}"
  class="Link Link-btn d-flex flex-justify-between flex-items-center hover-grow no-underline border rounded-3 p-2"
  {% if link.url contains "http" %}target="_blank" rel="noopener noreferrer"{% endif %}>
    <div class="avatar-7">
      {% include thumbnail.html thumbnail=link.thumbnail octicon = link.octicon %}
    </div>
    <div class="p-2 flex-1">
      <p class="f3 text-center mb-0">{{ link.name }}</p>
    </div>
</a>
{%- else %}
<div class="Link-text github-component position-relative height-full d-flex flex-column text-center p-1">
  <div class="d-inline-flex flex-items-center">
    <div class="avatar-7">
      {% include thumbnail.html thumbnail=link.thumbnail octicon = link.octicon %}
    </div>
    <div class="p-2 flex-1">
    <p class="f3 lh-condensed text-center mt-1">{{ link.name }}</p>
    </div>
  </div>
</div>
{%- endif %}
