{%- if link.web_url %}
{%- assign is_local = link.web_url | slice: 0 %}
{%- if is_local == '/' %}
{%- capture url_prefix %}{{ site.baseurl }}{% endcapture %}
{%- endif %}
<a href="{{ link.web_url | prepend: url_prefix }}"
  class="github-component position-relative hover-grow no-underline d-flex flex-column text-center border border-gray-light rounded-1 p-1">
  <div class="d-inline-flex flex-items-center">
    <div class="avatar-7">
      {%- if link.image_url %}
      {%- assign is_local = link.image_url | slice: 0 %}
      {%- if is_local == '/' %}
      {%- capture img_prefix %}{{ site.baseurl }}{% endcapture %}
      {%- endif %}
      <img src="{{ link.image_url | prepend: img_prefix }}" width="48" height="48"
        class="rounded-1 box-shadow-none img-contain float-left" alt="{{ link.name }}">
      {%- endif %}
    </div>
    <div class="flex-auto p-2">
      <p class="f3 lh-condensed text-center link-gray-dark mb-0">{{ link.name }}</p>
      {%- if link.description %}
      <p class="f5 text-gray text-center mb-0 mt-1">{{ link.description }}</p>
      {%- endif %}
    </div>
    <div class="avatar-7"></div>
  </div>
</a>
{%- else %}
<div class="github-component position-relative height-full d-flex flex-column text-center p-1">
  <div class="d-inline-flex flex-items-center">
    <div class="avatar-7">
      {%- if link.image_url %}
      {%- assign is_local = link.image_url | slice: 0 %}
      {%- if is_local == '/' %}
      {%- capture img_prefix %}{{ site.baseurl }}{% endcapture %}
      {%- endif %}
      <img src="{{ link.image_url | prepend: img_prefix }}" width="48" height="48"
        class="rounded-1 box-shadow-none img-contain float-left" alt="{{ link.name }}">
      {%- endif %}
    </div>
    <div class="flex-auto">
    <p class="f3 lh-condensed text-center mt-1">{{ link.name }}</p>
    {%- if link.description %}
    <p class="f5 text-gray text-center mt-1">{{ link.description }}</p>
    {%- endif %}
    </div>
    <div class="avatar-7"></div>
  </div>
</div>
{%- endif %}
