{%- assign user = site.github.owner %}
{%- assign name = include.title | default: site.title | default: user.name | default: user.login %}
{%- assign user_img = site.user_image | default: user.avatar_url | default: "/assets/img/user-image.jpg" %}
{%- assign user_metadata = site.user_metadata -%}
{%- assign size = include.size | default: "256px" %}

<div class="Masthead">
    <div class="CircleBadge" style="width: {{ size }};" >
      <a href="{{ site.baseurl }}/">
        <img src="{{ user_img | relative_url }}" alt="{{ name }}" >
      </a>
    </div>

  <h1 class="text-center my-3 lh-condensed overflow-wrap-word">{{ name }}</h1>
  {%- if user_metadata %}
  {% include user-metadata.html %}
  {%- endif %}
</div>
