{% assign repo = site.github.public_repositories | where: "full_name", site.repository | first %}
<div class="Repo-info">
    <a href="{{ site.github.repository_url }}" class="{{ include.class }} tooltipped tooltipped-se" aria-label="Go to repository">
        <div class="d-flex flex-row flex-justify-center Header-item">

            <div class="mr-2">{% octicon git-branch height: 32 %}</div>
            <div>
                <div>
                    {{ site.repository }}
                </div>
                <div class="d-flex flex-row">
                    {%- if site.github.latest_release %}
                    <div class="mr-3">
                        <span>{% octicon tag height: 12 %} {{ site.github.latest_release.tag_name}}</span>
                    </div>
                    {%- endif %}
                    <div class="mr-3"><span>{% octicon star height: 12 %} {{ repo.stargazers_count }}</span></div>
                    <div class="mr-0"><span>{% octicon repo-forked height: 12 %} {{ repo.forks_count }}</span></div>
                </div>
            </div>

        </div>
    </a>
</div>
