<div class="Overlay-backdrop--side Overlay-backdrop--placement-left" data-modal-dialog-overlay>
    <modal-dialog class="Overlay Overlay-whenNarrow Overlay--size-small-portrait Overlay--motion-scaleFade SidePanel" >
        <div class="Overlay-headerContentWrap my-4">
            <div class="Overlay-titleWrap d-flex">
                <div tabindex="-1" class="d-flex flex-1 ml-3" id="github-logo">
                    <a href="{{ site.baseurl }}/" class="AppHeader-link d-flex flex-items-center no-underline mr-3">
                        <img class="avatar img-cover circle" height="32" width="32" alt="{{ name }}" src="{{ user_img | relative_url }}">
                        <span class="h4 text-semibold mx-3">{{ name }}</span>
                    </a>
                </div>
            </div>
            <div class="Overlay-actionWrap d-flex flex-justify-end" >
                <button id="collapse-btn" class="close-button Overlay-closeButton">
                    {% octicon x height: 16 %}
                </button>
            </div>
        </div>
        <div class="Overlay-body d-flex flex-column height-full p-2">
            <ul data-overflow-nav class="ActionListWrap SideNav">
                {%- for nav_item in site.nav %}
                <li class="SideNav-item"{% if page.url==nav_item.url %} aria-current="page"{% endif %}>
                    <a href="{{ nav_item.url | relative_url }}" class="ActionListContent ActionListItem-label" >
                        {{ nav_item.name }}
                    </a>
                </li>
                {%- endfor %}
            </ul>
        </div>
        <div class="Overlay-footer Overlay-footer--alignEnd d-block pt-0">
            <div class="ActionList-sectionDivider mt-0 mb-1"></div>
            {%- if site.social_media %}
            <div class="ActionList px-0 flex-1">
                {%- include social.html %}
            </div>
            {%- endif %}
        </div>
    </modal-dialog>
</div>
