<div class="f5 d-flex">
    {%- if include.breadcrumbs %}
    <div class="d-flex flex-items-center">
        <nav aria-label="Breadcrumb">
            <ol class="breadcrumb">
                {%- assign crumbs = page.url | split: '/' %}
                {%- assign url = "/" %}
                {%- for crumb in crumbs %}
                    {%- if crumb == "" %}
                        <li class="breadcrumb-item">
                            <a href="{{ site.baseurl}}/">home</a>
                        </li>
                        {%- continue %}
                    {%- endif %}
                    {%- assign asset_url = url | append: "assets/" | append: crumb | append: "/index.html" %}
                    {%- assign isa_asset = site.pages | where: "url", asset_url | first %}
                    {%- assign index_url = url | append: crumb | append: "/index.html" %}
                    {%- assign isa_index = site.pages | where: "url", index_url | first %}
                    {%- assign url = url | append: crumb %}
                    {%- assign isa_page = site.pages | where: "url", url | first %}
                    {%- assign isa_post = site.posts | where: "url", url | first %}

                    {%- assign nice_crumb = crumb | url_decode | replace: ".html", "" | replace: "-", " " | replace: "_", " " | downcase %}

                    {%- comment %}
                    Checking the crumb: {{ crumb }}
                    Checking crumb url: {{ index_url }}
                    {% for p in site.pages %}
                    {{ p.url }}
                    {% endfor %}
                    {%- endcomment %}

                    {%- if page.url == url or page.url == index_url %}
                    <li class="breadcrumb-item breadcrumb-item-selected" aria-current="page">
                        <a href="{{ page.url | relative_url }}">{{ nice_crumb }}</a>
                    </li>
                        {%- break %}
                    {%- elsif isa_page or isa_post %}
                    <li class="breadcrumb-item">
                        <a href="{{ url | relative_url }}">{{ nice_crumb }}</a>
                    </li>
                    {%- elsif isa_asset %}
                    <li class="breadcrumb-item">
                        <a href="{{ asset_url | relative_url }}">{{ nice_crumb }}</a>
                    </li>
                    {%- elsif isa_index %}
                    <li class="breadcrumb-item">
                        <a href="{{ index_url | relative_url }}">{{ nice_crumb }}</a>
                    </li>
                    {%- else %}
                    <li class="breadcrumb-item">
                        {{ nice_crumb }}
                    </li>
                    {%- endif %}
                    {%- unless crumb == crumbs.last %}{%- assign url = url | append: "/" %}{%- endunless %}
                {%- endfor %}
            </ol>
        </nav>
    </div>
    {%- endif %}
    <div class="flex-1">
    </div>
    <div>
        <button id="theme-toggle" class="btn btn-sm mr-2" type="button"><span id="theme-icon"
                class="octicon octicon-moon-24"></span></button>
    </div>
</div>
