{%- assign collection = include.collection | default: site.posts | sort: "date" | reverse %}
{%- assign index = include.index %}
{%- assign post_limit = include.limit | default: nil %}

<div class="mt-md-7 mb-9 mb-md-12">
  <div class="container-xl mx-auto p-responsive-blog">
    {%- for post in collection | limit: post_limit %}
    {%- include post-timeline-card.html %}
    {%- endfor %}
  </div>
  {%- if collection.size > post_limit %}
  <div class="container-xl mx-auto p-responsive-blog mt-6 mt-md-8 ">
    <div class="d-flex gutter-spacious">
      <div class="col-12 col-md-7 offset-md-5">
        <a href="{{ index | relative_url }}"
          class="Link--primary arrow-target-mktg text-semibold btn ml-5">View all {% octicon chevron-right height:16 %}</a>
      </div>
    </div>
  </div>
  {%- endif %}
</div>
