{%- assign icon = post.type | default: "comment" %}
<div class="TimelineItem">
  <div class="TimelineItem-badge">{% octicon {{icon}} height:16 %}</div>
  <div class="TimelinItem-body">
    <span class="f3 lh-condensed mb-1">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </span>
    <div class="d-flex flex-items-end flex-wrap">
      {%- if post.author %}
      <div class="authors-wrap text-bold mb-2 mr-3 ">{{ post.author }}</div>
      {%- endif %}
      <div class="text-gray mb-2 ws-normal">{{ post.date | date: "%b %d, %Y"}}</div>
    </div>
    <div class="summary"> {{ post.excerpt }}</div>
  </div>
</div>
