{%- comment -%}
  post-timeline.html
  Usage example:
    {% include post-timeline.html collection=site.posts limit=5 index='/blog/index.html' %}

  Expects:
    collection (array, required) - A list of posts or other objects to display.
    limit (integer, optional) - Number of posts to display (default: all).
    index (string, optional) - Index page for the collection.
{%- endcomment -%}

{%- assign timeline_collection = include.collection | sort: "date" | reverse %}
{%- assign timeline_post_limit = include.limit | default: -1 %}
{%- if timeline_post_limit < 0 %}
{%- assign timeline_post_limit = collection.size %}
{%- endif %}
{% assign timeline_index = include.index %}

<div class="container-xl mx-auto p-responsive-blog mb-8">
  {%- for post in timeline_collection | limit: timeline_post_limit %}
  {%- include post-timeline-card.html post=post %}
  {%- endfor %}
  {%- if timeline_collection.size > timeline_post_limit and timeline_index %}
  <div class="mx-auto p-responsive-blog">
    <div class="d-flex gutter-spacious">
      <div class="col-12 col-md-7 offset-md-5">
        <a href="{{ timeline_index | relative_url }}"
          class="Link--primary arrow-target-mktg text-semibold btn ml-5">View all {% octicon chevron-right height:16 %}</a>
      </div>
    </div>
  </div>
  {%- endif %}
</div>
