{%- assign icon = post.type | default: "comment" %}
<div class="TimelineItem flex-wrap">
  <div class="col-12 col-md-5 position-relative">
    <div class="TimelineItem-title mt-5 position-sticky d-flex">
      <div class="TimelineItem-badge">{% octicon {{icon}} height:16 %}</div>
      <div class="title">
        <div class="h2">
          <a href="{{ post.url | relative_url }}">
            {{ post.title }}
          </a>
        </div>
        {%- if post.author %}
        <div class="authors-wrap text-bold mb-2 mr-3 ">{{ post.author }}</div>
        {%- endif %}
        <div class="text-gray mb-2 ws-normal">{{ post.date | date: "%b %d, %Y"}}</div>
        {%- for tag in post.tags %}
        <span class="IssueLabel IssueLabel--big color-bg-accent-emphasis color-fg-on-emphasis mr-1">{{tag}}</span>
        {%- endfor %}
      </div>
    </div>
  </div>
  <div class="col-12 col-md-7">
    <div class="pb-5 pt-0 py-md-7 ml-5 border-bottom">
        {%- if post.video %}
        <div id="Timeline-video-container" class="image-container">
          <iframe id="Timeline-video" src="{{ post.video }}" frameborder="0" height="inherited"
            width="inherited"></iframe>
        </div>
        {%- elsif post.image %}
        <div class="image-container">
          <img class="rounded-2" src="{{ post.image}}" width="800" height="425" alt="{{ post.title }}" />
        </div>
        {%- endif %}
        <div class="summary"> {{ post.excerpt }}</div>
        {%- if post.content != blank %}
        <div class="more">
          <a href="{{ post.url | relative_url }}" class="link-mktg arrow-target-mktg text-semibold f4-mktg">
            Contiue
            <svg xmlns="http://www.w3.org/2000/svg" class="octicon arrow-symbol-mktg" width="16" height="16"
              viewBox="0 0 16 16" fill="none">
              <path fill="currentColor"
                d="M7.28033 3.21967C6.98744 2.92678 6.51256 2.92678 6.21967 3.21967C5.92678 3.51256 5.92678 3.98744 6.21967 4.28033L7.28033 3.21967ZM11 8L11.5303 8.53033C11.8232 8.23744 11.8232 7.76256 11.5303 7.46967L11 8ZM6.21967 11.7197C5.92678 12.0126 5.92678 12.4874 6.21967 12.7803C6.51256 13.0732 6.98744 13.0732 7.28033 12.7803L6.21967 11.7197ZM6.21967 4.28033L10.4697 8.53033L11.5303 7.46967L7.28033 3.21967L6.21967 4.28033ZM10.4697 7.46967L6.21967 11.7197L7.28033 12.7803L11.5303 8.53033L10.4697 7.46967Z">
              </path>
              <path stroke="currentColor" d="M1.75 8H11" stroke-width="1.5" stroke-linecap="round"></path>
            </svg>
          </a>
        </div>
        {%- endif %}
    </div>

  </div>
</div>
