<div class="d-flex flex-wrap flex-items-start flex-justify-center mt-1">

  {%- if site.social_media.behance %}
  <div class="mr-3">
    <a href="https://www.behance.net/{{ site.social_media.behance }}" class="tooltipped tooltipped-se" aria-label="Behance: {{ site.social_media.behance }}">
      <img src="{{ site.baseurl}}/assets/brands/behance.svg">
    </a>
  </div>
  {%- endif %}

  {%- if site.social_media.dribbble %}
  <div class="mr-3">
    <a href="https://dribbble.com/{{ site.social_media.dribbble }}" class="tooltipped tooltipped-se" aria-label="Dribbble: {{ site.social_media.dribbble }}">
      <img src="{{ site.baseurl}}/assets/brands/dribbble.svg">
    </a>
  </div>
  {%- endif %}

  {%- if site.social_media.docker %}
  <div class="mr-3">
    <a href="https://hub.docker.com/u/{{ site.social_media.docker }}" class="tooltipped tooltipped-se" aria-label="Docker: {{ site.social_media.docker }}">
      <img src="{{ site.baseurl}}/assets/brands/docker.svg">
    </a>
  </div>
  {%- endif %}

  {%- if site.social_media.facebook %}
  <div class="mr-3">
    <a href="https://www.facebook.com/{{ site.social_media.facebook }}" class="tooltipped tooltipped-se" aria-label="Facebook: {{ site.social_media.facebook }}">
      <img src="{{ site.baseurl}}/assets/brands/facebook.svg">
    </a>
  </div>
  {%- endif %}

  {%- if site.social_media.hackerrank %}
  <div class="mr-3">
    <a href="https://www.hackerrank.com/{{ site.social_media.hackerrank }}" class="tooltipped tooltipped-se" aria-label="HackerRank: {{ site.social_media.hackerrank }}">
      <img src="{{ site.baseurl}}/assets/brands/hackerrank.svg">
    </a>
  </div>
  {%- endif %}

  {%- if site.social_media.instagram %}
  <div class="mr-3">
    <a href="https://www.instagram.com/{{ site.social_media.instagram }}" class="tooltipped tooltipped-se" aria-label="Instagram: {{ site.social_media.instagram }}">
      <img src="{{ site.baseurl}}/assets/brands/instagram.svg">
    </a>
  </div>
  {%- endif %}

  {%- if site.social_media.keybase %}
  <div class="mr-3">
    <a href="https://keybase.io/{{ site.social_media.keybase }}" class="tooltipped tooltipped-se" aria-label="Keybase: {{ site.social_media.keybase }}">
      <img src="{{ site.baseurl}}/assets/brands/keybase.svg">
    </a>
  </div>
  {%- endif %}

  {%- if site.social_media.linkedin %}
  <div class="mr-3">
    <a href="https://www.linkedin.com/in/{{ site.social_media.linkedin }}" class="tooltipped tooltipped-se" aria-label="LinkedIn: {{ site.social_media.linkedin }}">
      <img src="{{ site.baseurl}}/assets/brands/linkedin.svg">
    </a>
  </div>
  {%- endif %}

  {%- if site.social_media.mastodon %}
  <div class="mr-3">
    <a href="https://mstdn.io/{{ site.social_media.mastodon }}" class="tooltipped tooltipped-se" aria-label="Mastodon: {{ site.social_media.mastodon }}">
      <img src="{{ site.baseurl}}/assets/brands/mastodon.svg">
    </a>
  </div>
  {%- endif %}

  {%- if site.social_media.medium %}
  <div class="mr-3">
    <a href="https://medium.com/@{{ site.social_media.medium }}" class="tooltipped tooltipped-se" aria-label="Medium: {{ site.social_media.medium }}">
      <img src="{{ site.baseurl}}/assets/brands/medium.svg">
    </a>
  </div>
  {%- endif %}

  {%- if site.social_media.stackoverflow %}
  <div class="mr-3">
    <a href="https://stackoverflow.com/u/{{ site.social_media.stackoverflow }}" class="tooltipped tooltipped-se" aria-label="Stack Overflow: {{ site.social_media.stackoverflow }}">
      <img src="{{ site.baseurl}}/assets/brands/stackoverflow.svg">
    </a>
  </div>
  {%- endif %}

  {%- if site.social_media.telegram %}
  <div class="mr-3">
    <a href="https://t.me/{{ site.social_media.telegram }}" class="tooltipped tooltipped-se" aria-label="Telegram: {{ site.social_media.telegram }}">
      <img src="{{ site.baseurl}}/assets/brands/telegram.svg">
    </a>
  </div>
  {%- endif %}

  {%- if site.social_media.twitter %}
  <div class="mr-3">
    <a href="https://www.twitter.com/{{ site.social_media.twitter }}" class="tooltipped tooltipped-se" aria-label="Twitter: {{ site.social_media.twitter }}">
      <img src="{{ site.baseurl}}/assets/brands/twitter.svg">
    </a>
  </div>
  {%- endif %}

  {%- if site.social_media.unsplash %}
  <div class="mr-3">
    <a href="https://www.unsplash.com/{{ site.social_media.unsplash }}" class="tooltipped tooltipped-se" aria-label="Unsplash: {{ site.social_media.unsplash }}">
      <img src="{{ site.baseurl}}/assets/brands/unsplash.svg">
    </a>
  </div>
  {%- endif %}

  {%- if site.social_media.vk %}
  <div class="mr-3">
    <a href="https://vk.com/{{ site.social_media.vk }}" class="tooltipped tooltipped-se" aria-label="VK: {{ site.social_media.vk }}">
      <img src="{{ site.baseurl}}/assets/brands/vk.svg">
    </a>
  </div>
  {%- endif %}

  {%- if site.social_media.vscode %}
  <div class="mr-3">
    <a href="https://marketplace.visualstudio.com/publishers/{{ site.social_media.vscode }}" class="tooltipped tooltipped-se" aria-label="VS Code Marketplace: {{ site.social_media.vscode }}">
      <img src="{{ site.baseurl}}/assets/brands/vscode.svg">
    </a>
  </div>
  {%- endif %}

  {%- if site.social_media.youtube %}
  <div class="mr-3">
    <a href="https://www.youtube.com/{{ site.social_media.youtube }}" class="tooltipped tooltipped-se" aria-label="YouTube: {{ site.social_media.youtube }}">
      <img src="{{ site.baseurl}}/assets/brands/youtube.svg">
    </a>
  </div>
  {%- endif %}

  </div>
