{%- comment %}
This creates a thumbnail image.  Thumbail images can eitehr be set to an image or an octicon

## Inputs

- thumbnail (optional)
- octicon (optional)

{%- endcomment %}

{%- assign thumbnail = include.thumbnail %}
{%- assign octicon = include.octicon %}

{%- if include.thumbnail %}
<img src="{{ thumbnail | relative_url }}" width="48" height="48"
class="rounded-2 box-shadow-none img-cover float-left" alt="{{ name }}">
{% elsif octicon %}
{% octicon {{ octicon }} height:48 %}
{% endif %}
