---
layout: page
---
{% if page.paginator %}
  <!-- Pagination is active -->
  {% assign paginator = page.paginator %}
{% endif %}

{% if paginator %}

  {% if paginator.previous_page != nil or paginator.next_page != nil %}
    <!-- Show page number if we have multiple pages -->
    <p class="f4-mktg color-text-tertiary mt-4 mt-md-7 mb-0">Category {{ paginator.page }} / {{ paginator.total_pages }}</p>
    <h1 class="pb-5 mt-0">{{ page.title | capitalize }}</h1>
  {% else %}
    <!-- No page number if we only have a single page -->
    <p class="f4-mktg color-text-tertiary mt-4 mt-md-7 mb-0">Category</p>
    <h1 class="pb-5 mt-0">{{ page.title | capitalize }}</h1>
  {% endif %}

  <div class="d-flex flex-wrap gutter-spacious">
    <!-- Show post excerpts for the current page -->
    {% for post in paginator.posts limit:paginator.per_page %}
    {%- if post.feature or post == site.categories[page.title][0] %}
    {%- include post-feature-card.html %}
    {%- else %}
    {%- include post-card.html border="border-top" %}
    {%- endif %}
    {% endfor %}
  </div>
  <!-- Show navigation next/previous page links if applicable -->
  <nav><p>
    {% if paginator.previous_page %}<a class="previous_page" rel="prev" href="{{ paginator.previous_page_path | relative_url }}"
    aria-disabled="false">Previous</a>{% endif %}
    {% if paginator.next_page %}<a class="next_page" rel="next" href="{{ paginator.next_page_path | relative_url }}"
    aria-disabled="false">Next</a>{% endif %}
  </p></nav>

{% else %}

  <!-- Pagination is not active -->
  <p class="f4-mktg color-text-tertiary mt-4 mt-md-7 mb-0">Category</p>
  <h1 class="pb-5 mt-0">{{ page.title | capitalize }}</h1>

  <div class="d-flex flex-wrap gutter-spacious">
    <!-- Show excerpts for all posts in this category -->
    {% for post in page.posts %}
    {%- if post.feature %}
    {%- include post-feature-card.html %}
    {%- else %}
    {%- include post-card.html border="border-top" %}
    {%- endif %}
    {% endfor %}
  </div>

{% endif %}
