---
layout: page
subtype: Category
---
{% if page.paginator %}
  <!-- Pagination is active -->
  {% assign paginator = page.paginator %}
{% endif %}
{% assign posts = paginator.posts | default: page.posts %}
{% assign limit = paginator.per_page | default: -1 %}
{% if limit < 0 %}
{% assign limit = posts.size %}
{% endif %}

<div class="d-flex flex-wrap gutter-spacious border-top">
  <!-- Show post excerpts for the current page -->
  {% for post in posts limit: limit %}
  {%- if post.feature or post == site.categories[page.category][0] %}
  {%- include post-feature-card.html %}
  {%- else %}
  {%- include post-card.html border="border-top" %}
  {%- endif %}
  {% endfor %}
</div>

<!-- Show navigation next/previous page links if applicable -->
<nav><p>
  {% if paginator.previous_page %}<a class="previous_page" rel="prev" href="{{ paginator.previous_page_path | relative_url }}"
  aria-disabled="false">Previous</a>{% endif %}
  {% if paginator.next_page %}<a class="next_page" rel="next" href="{{ paginator.next_page_path | relative_url }}"
  aria-disabled="false">Next</a>{% endif %}
</p></nav>
