---
layout: page
title: Category
---
{%- assign categories = page.categories | default: site.categories %}
{%- assign category_permalink = site.category_path | default: 'category' | append: '/:cat' %}
{%- assign category_permalink = page.pagination.permalink | default: site.autopages.categories.permalink | default: category_permalink %}
{%- assign per_section = page.per_section | default: page.pagination.per_page | default: 3 %}

{% include post-gallery.html
    collection=categories
    collection_permalink=category_permalink
    replace_value=":cat"
    per_section=per_section
%}
