{%- assign style = page.style | default: site.style %}
{%- assign user = site.github.owner %}
{%- assign name = site.title | default: user.name | default: user.login %}
{%- assign user_img = site.user_image | default: user.avatar_url %}
<!doctype html>
<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark_dimmed">

{%- include head.html %}

<body class="min-height-full d-flex flex-column">
    {%- if style == 'topbar' %}
    {% include header-topbar.html %}
    {%- elsif style == 'appbar' %}
    {% include header-appbar.html %}
    {%- elsif style == 'stacked' %}
    {% include header-stacked.html %}
    {%- elsif style == 'sidebar' %}
    <div class="d-flex">
        {% include header-sidebar.html %}
    {%- endif %}

    <div class="flex-column flex-1 min-width-0">
    {{ content }}
    </div>
    {% if style== 'sidebar' %}
    </div>
    {% endif %}

    {%- include footer.html %}
</body>

</html>
