---
layout: default
style: appbar
toc: true
---
{% comment %}
Docs utilize collections to display content
{% endcomment %}
{%- assign collection_name = page.collection | default: "docs" %}
{%- assign docs = site[collection_name]%}
{%- assign docs_name = page.name | default: "Documentation" %}
{%- assign index_url = collection_name | prepend: "/" | append: "/index.html" %}
{%- assign docs_index = docs | where: "url", index_url | first %}


<script>
    $(document).ready(function () {
        $('#contents-btn').click(function () {
            $('.CollectionMenu').toggleClass('d-none');
        });
        $('#close-contents-btn').click(function () {
            $('.CollectionMenu').addClass('d-none');
        })
    });
</script>
<div class="d-lg-flex flex-1">
    <div class="Layout Layout-sidebar position-sticky border-right d-none d-xl-block">
        <div class="px-4 pb-3 border-bottom">
            <div class="mt-3">
                {% if docs_index %}
                <a class="d-block pl-1 mb-2 h3 color-fg-default no-underline" href="{{ index_url | relative_url }}">
                    {{ docs_name | capitalize }}
                </a>
                {% else %}
                <h3 class="d-block pl-1 mb-2 h3 color-fg-default no-underline">{{ docs_name | capitalize }}</h3>
                {% endif %}
            </div>
        </div>
        <div class="">
            <ul data-overflow-nav class="menu ActionList border-0">
                {% for nav_item in docs %}
                {% if nav_item.url != index_url %}
                <a href="{{ nav_item.url | relative_url }}" class="ActionListItem-label no-underline">
                <li class="menu-item ActionList-item border-0"
                    {% if page.url==nav_item.url %} aria-current="page" {% endif %}>
                    {{ nav_item.title }}
                </li>
                </a>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="flex-1">
        <div class="container-xl mx-auto p-responsive py-3">
            <div class="py-4 d-flex">
                <div class="d-xl-none">
                    <button id="contents-btn" class="btn-octicon mr-2">{% octicon three-bars height:16 %}</button>
                </div>
                {% include breadcrumbs.html %}
            </div>
            <div class="pb-5">
                <h1 class="border-bottom-0">{{ page.title }}</h1>
                <h3 class="f3 color-fg-muted pb-3">{{ page.description }}</h3>
            </div>
            <div class="d-flex flex-wrap-reverse">
                <div class="col-12 col-md-8 markdown-body">
                    {{ content }}

                    <!-- Pagination links -->
                    <div class="paginate-container py-3">
                        <div role="navigation" aria-label="Pagination" class="d-inline-block pagination">
                            {% if page.previous.url %}
                            <a class="previous_page" rel="prev" href="{{ page.previous.url | relative_url }}"
                                aria-disabled="false">{{page.previous.title | truncate: 20 }}</a>
                            {% else %}
                            <span class="previous_page disabled" aria-disabled="true">Previous</span>
                            {% endif %}

                            {% if page.next.url %}
                            <a class="next_page" rel="next" href="{{ page.next.url | relative_url }}"
                                aria-disabled="false">{{page.next.title | truncate: 20 }}</a>
                            {% else %}
                            <span class="next_page disabled" aria-disabled="true">Next</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 markdown-body">
                    {% if page.toc %}
                    <div class="position-sticky top-12 ml-5 pb-5">
                        <h4 class="ml-3 mb-1">In this article</h4>
                        {{ content | toc_only }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="CollectionMenu d-none">
    {% include collection-menu.html name=docs_name collection=docs index=docs_index.url %}
</div>
