---
layout: default
style: appbar
toc: true
---
{% comment %}
Docs utilize collections to display content
{% endcomment %}
{%- assign collection_name = page.collection | default: "docs" %}
{%- assign docs = site[collection_name]%}
{%- assign index_url = page.index %}
{%- assign docs_index = docs | where_exp: "item", "item.url == index_url" | first %}
{%- assign docs_without_index = docs | where_exp: "item", "item.url != index_url" %}

<div class="d-lg-flex flex-1">
    <div class="Layout Layout-sidebar position-sticky border-right d-none d-xl-block">
        <div class="px-4 pb-3 border-bottom">
            <div class="mt-3">
                {% if docs_index %}
                <a class="d-block pl-1 mb-2 h3 color-fg-default no-underline"
                    href="{{ docs_index.url | relative_url }}">
                    {{ collection_name | capitalize }}
                </a>
                {% else %}
                <h3 class="d-block pl-1 mb-2 h3 color-fg-default no-underline">{{ collection_name | capitalize }}</h3>
                {% endif %}
            </div>
        </div>
        <div class="pt-3">
            <ul data-overflow-nav class="menu ActionList border-0 ml-3">
                {%- assign doc_categories = docs_without_index | group_by: "category" %}
                {%- for category in doc_categories %}
                {%- assign category_name = category.name | default: collection_name %}
                <li class="h4">{{ category_name | capitalize }}
                    <ul>
                        {%- for nav_item in category.items %}
                        <a href="{{ nav_item.url | relative_url }}" class="ActionListItem-label no-underline">
                            <li class="menu-item ActionList-item border-0" {% if page.url==nav_item.url %}
                                aria-current="page" {% endif %}>
                                {{ nav_item.title }}
                            </li>
                        </a>
                        {%- endfor %}
                    </ul>
                </li>
                {%- endfor %}
            </ul>
        </div>
    </div>
    <div class="flex-1">
        <div class="container-xl mx-auto p-responsive py-3">
            <div class="py-4 d-flex">
                <div class="d-xl-none">
                    {% include collection-menu.html collection=docs name=collection_name index=docs_index %}
                </div>
                {% include breadcrumbs.html %}
            </div>
            <div class="pb-5">
                <h1 class="border-bottom-0">{{ page.title }}</h1>
                <h3 class="f3 color-fg-muted pb-3">{{ page.description }}</h3>
            </div>
            <div class="d-flex flex-wrap-reverse">
                <div class="col-12 col-md-8 markdown-body">
                    {{ content }}

                    <!-- Pagination links -->
                    <div class="paginate-container py-3">
                        <div role="navigation" aria-label="Pagination" class="d-inline-block pagination">
                            {% if page.previous.url %}
                            <a class="previous_page" rel="prev" href="{{ page.previous.url | relative_url }}"
                                aria-disabled="false">{{page.previous.title | truncate: 20 }}</a>
                            {% else %}
                            <span class="previous_page disabled" aria-disabled="true">Previous</span>
                            {% endif %}

                            {% if page.next.url %}
                            <a class="next_page" rel="next" href="{{ page.next.url | relative_url }}"
                                aria-disabled="false">{{page.next.title | truncate: 20 }}</a>
                            {% else %}
                            <span class="next_page disabled" aria-disabled="true">Next</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 markdown-body">
                    {% capture page_toc %}{{ content | toc_only }}{% endcapture %}
                    {% if page_toc contains "</li>" %}
                    <div class="position-sticky top-12 ml-5 pb-5">
                        <h4 class="ml-3 mb-1">In this article</h4>
                        {{ page_toc }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
