---
layout: default
---
<div class="py-3">
  {%- assign posts_total = site.posts | size %}
  {%- assign posts_limit = site.posts_limit | default: posts_total %}

  {%- unless content == "" %}
  {{ content }}
  {%- endunless %}

  {%- if site.links %}
  <h2 class="mb-3">Links</h2>
  {%- include links.html %}
  {%- endif %}

  {%- unless posts_total == 0 %}
  <h2 class="mb-3">Blog</h2>
  {%- include posts.html limit=posts_limit %}
  {%- if site.posts.size > post_limit %}
  <div>
    <a href="{{ site.paginate_path | relative_url | replace: 'page:num', '' }}" class="btn btn-block mb-2">Read more</a>
  </div>
  {%- endif %}
  {%- endunless %}

  {%- if site.repositories %}
  <h2 class="mb-3">Repositories</h2>
  {%- include repositories.html %}
  {%- endif %}
</div>
