---
layout: default
style: none
---
{%- assign style = page.style | default: layout.style | default: site.style %}
<div class="Header d-flex p-0 flex-1">
    <div class="container-lg flex-column position-sticky top-0">
        <div class="d-flex flex-row py-3 flex-justify-end">
            <div class="d-flex flex-justify-center">
                {% if style == 'none' %}{% include toggle.html %}{% endif %}
            </div>
        </div>
        <div class="text-center flex-1">
            <div class="px-5 py-2 height-full">
                {%- include masthead.html %}
            </div>
            {%- if site.repo_info %}
            <div class="py-2">
                {% include mini-repo-info-card.html class="Header-link no-underline" %}
            </div>
            {%- endif %}
            {{ content }}
            {%- if site.nav %}
            <div class="d-flex flex-column">
                {%- include nav.html %}
            </div>
            {%- endif %}
            {%- if site.social_media %}
            <div class="py-2 px-2">
                {%- include social.html %}
            </div>
            {%- endif %}
        </div>
    </div>
</div>
