---
layout: default
style: none
---
{%- assign socials=page.socials | default: layout.socials | default: nil %}
{%- assign links=page.links | default: site.links | default: nill %}
<div class="flex-column flex-1 min-width-0 py-3">
    <div class="d-flex mt-4 p-responsive container-md flex-row py-3 flex-justify-end">
        <div class="d-flex flex-justify-center">
            {% include toggle.html %}
        </div>
    </div>
    {%- if style != "sidebar" and style != "stacked" %}
    {%- include masthead.html class="CircleBadge--medium" %}
    {%- endif %}
    {%- if socials == "top" %}
    {%- include social.html %}
    {%- endif %}
    {%- if links %}
    <div class="d-flex mt-4 p-responsive container-md">
    {%- include links.html links=links %}
    </div>
    {%- endif %}
    {%- if socials == "bottom" %}
    {%- include social.html %}
    {%- endif %}
</div>
