---
layout: default
---
{%- assign user = site.github.owner %}
{%- assign name = page.author | default: user.name | default: user.login %}
{%- assign image = page.image | default: site.image %}

<div class="BlogHeader position-relative border-top">
    <div class="container-xl p-responsive">
        <div class="gutter-spacious pt-1 ">
            <div class="col-12 offset-lg-1 col-lg-10 col-xl-7 mt-5 mt-lg-10 mb-6 mb-lg-8">
                <div class="h3-mktg lh-condensed mb-3 color-header-default">{{ page.title }}</div>
                <p class="f4-mktg color-header-default">{{ page.description }}</p>
            </div>
            <div class="offset-lg-1 col-lg-10">
                <div class="position-relative z-1">
                    <div class="image-container">
                        <img src="{{ image | relative_url }}" class="cover-image rounded-2" alt="{{ page.title }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="BlogContent position-absolute bottom-0 width-full border-top" style="height:88px">
    </div>
</div>
<div class="BlogContent pb-5">
    <div class="container-xl mx-auto p-responsive">
        <div class="gutter-spacious pt-5">
            <div class="col-12 offset-lg-1 col-lg-10">
                <div class="text-mono f5-mktg color-fg-muted mb-12px">Author</div>
                <div class="d-flex flex-nowrap pb-1 flex-items-start">
                    <div class="d-flex flex-wrap">{{ name }}</div>
                    <div class="d-block border-left flex-shrink-0 text-mono f5-mktg color-fg-muted mb-3 ml-auto pl-5">
                        {{ page.date | date: "%b %d, %Y" }}
                    </div>
                </div>
                <div class="color-border-accent-emphasis border-bottom"></div>
            </div>
        </div>
        <div class="mx-auto p-responsive pt-4 pt-md-7 pb-7 pb-md-9">
            <div class="d-flex flex-wrap gutter-spacious">
                <div class="col-12 offset-lg-1 col-lg-1">
                    <ul class="list-style-none d-flex flex-lg-column position-sticky top-12">
                        <li class="mr-4 mr-lg-0 mb-4">
                            <a href="https://x.com/share?text={{ page.title | url_encode }}&url={{ page.url | absolute_url | url_encode }}"
                                target="_blank"
                                class="d-flex flex-justify-center flex-items-center border circle social-aside"
                                data-proofer-ignore>
                                <svg width="20" height="20" viewBox="0 0 1200 1227" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z" />
                                </svg>
                            </a>
                        </li>
                        <li class="mr-4 mr-lg-0 mb-4">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }};t={{ page.title | url_encode }}"
                                target="_blank"
                                class="d-flex flex-justify-center flex-items-center border circle social-aside"
                                data-proofer-ignore>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.3 15.4" height="18">
                                    <path
                                        d="M14.5 0H.8a.88.88 0 0 0-.8.9v13.6a.88.88 0 0 0 .8.9h7.3v-6h-2V7.1h2V5.4a2.87 2.87 0 0 1 2.5-3.1h.5a10.87 10.87 0 0 1 1.8.1v2.1h-1.3c-1 0-1.1.5-1.1 1.1v1.5h2.3l-.3 2.3h-2v5.9h3.9a.88.88 0 0 0 .9-.8V.8a.86.86 0 0 0-.8-.8z"
                                        fill="currentColor"></path>
                                </svg>
                            </a>
                        </li>
                        <li class="mr-4 mr-lg-0 mb-4">
                            <a href="https://www.linkedin.com/shareArticle?url={{ page.url | absolute_url | url_encode }}%2F&title={{ page.title | url_encode }}"
                                target="_blank"
                                class="d-flex flex-justify-center flex-items-center border circle social-aside"
                                data-proofer-ignore>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 18" height="18">
                                    <path
                                        d="M3.94 2A2 2 0 1 1 2 0a2 2 0 0 1 1.94 2zM4 5.48H0V18h4zm6.32 0H6.34V18h3.94v-6.57c0-3.66 4.77-4 4.77 0V18H19v-7.93c0-6.17-7.06-5.94-8.72-2.91z"
                                        fill="currentColor"></path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-7 col-md-8 markdown-body">
                    {{ content }}
                    {%- if page.tags.size > 0 %}
                    <div class="post-tags text-mono f4-mktg mt-8">
                        <span class="post-tags-label flex-shrink-0 d-inline-block mt-2">Tags: </span>
                        <ul class="d-inline-block list-style-none color-text-link mb-0">
                            {% for tag in page.tags %}
                            <li class="d-inline-block mt-2 mb-0"><a href="{{ site.tag_page_dir | relative_url }}/{{ tag | slugify: 'pretty' }}.html">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {%- endif %}
                </div>
                <div class="col-12 col-md-4 col-lg-3 markdown-body">
                    <div class="d-none d-md-block position-sticky top-12">
                        {%- capture toc_content%}{{ content | toc_only }}{% endcapture %}
                        {%- if toc_content contains "toc-entry" %}
                        <div class="mb-8 table-of-contents ">
                            <h2 class="h6-mktg pt-1">
                                Table of Contents
                            </h2>
                            <div id="table-of-contents">
                                {{ toc_content }}
                            </div>
                        </div>
                        {%- endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Related container-xl mx-auto p-responsive markdown-body">
        {% include related.html %}
    </div>
</div>
