---
layout: page
---
{%- assign user = site.github.owner %}
{%- assign name = site.title | default: user.name | default: user.login %}
{%- assign user_img = site.user_image | default: user.avatar_url | default: "/assets/img/user-image.jpg" %}
{%- assign style = page.style | default: layout.style | default: site.style %}
{%- assign links = page.links | default: site.links | default: nill %}
{%- assign collection = site.posts | sort: "date" | reverse %}
<div class="Profile d-lg-flex flex-justify-center gutter">
    {%- if style != "sidebar" and style != "stacked" %}
    <div class="col-lg-4 border-gray-light pt-6 text-center">
        {%- include masthead.html %}
        {%- include social.html %}
    </div>
    {%- endif %}

    <div class="col-lg-8 border-top border-lg-top-0 color-bg-default">
        <div class="py-6">
            {{ content }}
            {%- if links %}
            {%- include links.html links=links %}
            {%- endif %}

            {%- unless collection.size == 0 %}
            <h2 class="mb-3">Blog</h2>
            {%- include post-timeline.html collection=collection %}
            {%- endunless %}

            {%- if site.repositories %}
            {%- include repositories.html %}
            {%- endif %}
        </div>
    </div>
</div>
