---
title: Tags
layout: page
---
{%- assign tags = page.tags | default: site.tags %}
{%- assign tag_permalink = page.tag_path | default:site.tag_path | default: 'tags' | append: '/:tag' %}
{%- assign tag_permalink = page.pagination.permalink | default: site.autopages.tags.permalink | default: tag_permalink %}
{%- assign per_section = page.per_section | default: 3 %}

{% include post-index.html
  collection=tags
  collection_permalink=tag_permalink
  replace_value=":tag"
  per_section=per_section
%}
