name: Release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.174.0
        with:
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          cache-version: 1 # Increment this number if you need to re-download cached gems
      - name: Release
        run: .github/release.sh jekyll-theme-profile.gemspec
        env:
          RUBYGEMS_USERNAME: ${{ secrets.RUBYGEMS_USERNAME }}
          RUBYGEMS_API_KEY: ${{ secrets.RUBYGEMS_API_KEY }}
