name: Draft release

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  update_release_draft:
    permissions:
      contents: write # for release-drafter/release-drafter and Bump version
      pull-requests: write # for release-drafter/release-drafter and Bump version
    runs-on: ubuntu-latest
    outputs:
      tag_name: ${{ steps.release-draft.outputs.tag_name }}
    steps:
      # Drafts your next Release notes as Pull Requests are merged into "main"
      - uses: release-drafter/release-drafter@v5.25.0
        id: release-draft
        with:
          # (Optional) specify config name to use, relative to .github/. Default: release-drafter.yml
          config-name: release-drafter.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v4

  bump_version:
    runs-on: ubuntu-latest
    needs: update_release_draft
    env:
      VERSION: ${{ needs.update_release_draft.outputs.tag_name }}
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
      - name: Bump version
        run: |
          echo "Bumping version to ${VERSION}"
          .github/bump.sh jekyll-theme-profile.gemspec ${VERSION}
      - name: Commit and push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add jekyll-theme-profile.gemspec
          if git commit -m "Updating version to ${VERSION}"; then
            git push -f # needed for pushing to a protected branch
            echo "Pushed updated version ${VERSION} to ${GITHUB_REF##*/}"
          fi
